body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:600px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:111px;
  width:400px;
  height:600px;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
  background:inherit;
  background-color:rgba(247, 200, 151, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(63, 67, 76, 1);
  border-left:0px;
  border-radius:35px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:172px;
  width:96px;
  height:41px;
}
#u1619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hobo Std Bold', 'Hobo Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:15px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:181px;
  width:42px;
  height:36px;
  font-family:'Hobo Std Bold', 'Hobo Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:15px;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:178px;
  width:29px;
  height:29px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:178px;
  width:48px;
  height:19px;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:458px;
  width:123px;
  height:27px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:461px;
  width:110px;
  height:22px;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:312px;
  width:99px;
  height:27px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:314px;
  width:91px;
  height:24px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:405px;
  width:100px;
  height:27px;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:407px;
  width:94px;
  height:23px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:538px;
  width:44px;
  height:26px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:540px;
  width:41px;
  height:22px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:663px;
  width:44px;
  height:26px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:667px;
  width:37px;
  height:19px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(248, 200, 152, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(65, 75, 84, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:663px;
  width:101px;
  height:27px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:665px;
  width:90px;
  height:25px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:179px;
  width:27px;
  height:23px;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
